# Ignore Python cache files
__pycache__/

# Ignore Python virtual environments
venv/
env/
envs/

# Ignore VSCode settings
.vscode/
.vs/

# Ignore specific files
Brawler.zip
LICENSE
image1.png
image2.png
image1_processed.png
image2_processed.png